<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\git\damienbod\AspNetCoreNlog\Logs\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="exceptionlog" xsi:type="File" archiveAboveSize="5242880" archiveEvery="Minute" archiveNumbering="Date"
              archiveDateFormat="yyyyMMdd" fileName="${basedir}/Logs/Exceptions/${date:format=yyyy-MM-dd}.log.txt"
         layout="------${level}(${longdate})${machinename}------${newline}
                      Exception Type:${exception:format=Type} |
                      Exception Message:${exception:format=Message} |
                      Stack Trace:${exception:format=Stack Trace} |
                      Additional Info:${message}${newline}" ></target>


    <target name="database" xsi:type="Database" >

      <connectionString>${gdc:item=connectionString}</connectionString>

      <commandText>
        insert into dbo.Logs (
        METHOD_TYPE,INSERT_DATE,VALUE
        ) values (
        @MethodType,@InsertDate,@Value
        );
      </commandText>
      
      <parameter name="@InsertDate" layout="${date}" />
      <parameter name="@Value" layout="${message}" />
      <parameter name="@MethodType" layout="${message}" />

    </target>

  </targets>

  <rules>
    
    <logger name="*" minlevel="Error" writeTo="exceptionlog" />
    
    <logger name="*" minlevel="Info" writeTo="database" />
    
  </rules>
</nlog>